body{
  font-family: arial;
}
.sq{
  border: solid gray medium;
  width: 64px;
  height:64px;
  display:inline-block;
  font-size:55px;
  text-align:center;
  vertical-align:middle;
  line-height:64px;
}

.rw:nth-child(2n+1) .sq:nth-child(2n), .rw:nth-child(2n) .sq:nth-child(2n+1){
  background:yellow;
}

.src{
  border: solid red medium;
  text-shadow: 2px 2px #ff0000;
}


#board-container.state-move .rw .sq:hover{
  background-color: lightgray;
}

